{
	"presets": [ "env", "react"],
	"plugins": [
        "transform-react-jsx",
        "styled-components",
		"transform-object-rest-spread",
        "transform-class-properties",
        "transform-decorators",
		"transform-runtime"
	]
}